@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {

    /* Primary Colors */
    --color-heading: #0B0F19;
    --color-navigation: #33354D;
    --color-body: #565973;
    --color-muted: #9397AD;
    --color-placehold: #B4B7C9;
    --color-forms: #D4D7E5;
    --color-divider: #E2E5F1;
    --color-secondary: #EFF2FC;
    --color-lightBG: #F3F6FF;
    --color-white: #ffffff;
    --color-btn-circle: #ffffff;


    /* Brand Colors */
    --color-primary: #6366F1;
    --color-gradient: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
    
    /* System Colors */
    --color-error: #EF4444;
    --color-success: #22C55E;
    --color-warning: #FFBA08;
    --color-info: #4C82F7;

    /* Shadows */
    --shadow-S: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    --shadow-M: 0px 4.4px 20px rgba(19, 16, 34, 0.05), 0px 4px 9px rgba(19, 16, 34, 0.03);
    --shadow-L: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
    --shadow-brand-btn: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
    --shadow-seconday: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);

    /* Miscellaneous*/
    --container-padding: 1rem;
    --transition-time: all 0.2s;
    

    

}


* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

header {
   padding-top: 4px;
   
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    
}
body.dark {
    background-color:#000000;
    --color-heading:#ffffff;
    --color-body:#ffffff;
    --color-btn-circle: #ffffff05;
    
    header {
        background-color: #171717;
    }
    
    a {
        
    }

    #discover-more {
        opacity: 70%;
    }

    #features {
        opacity: 75%;
    }
    

}


.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;

}

a {
    color: var(--color-body);
    text-decoration: none;
    
}
a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color:var(--color-primary) ;
    color: var(--color-white);
    border-radius: 4px;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: var(--color-muted);
    color: var(--color-white);
    text-decoration: none;
}

.btn-download-app {
    background-color:var(--color-heading) ;
    border-radius: 8px;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
}

.btn-download-app:hover {
    background-color: var(--color-muted);
    text-decoration: none;
}

.btn-primary i {
    margin-right: .5rem;
}

.btn-circle { /* Got the inspiration/start from ChatGPT but rewrote the code and changed a bunch of values myself. */  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px; 
    height: 44px; 
    border-radius: 50%;
    background-color: var(--color-btn-circle); 
    color: var(--color-heading-dark);
    line-height: 44px; 
    font-size: 12px;
    cursor: pointer;
    box-shadow: var(--shadow-S);
    transition: box-shadow 0.3s ease;
}
.btn-circle:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25), 
                0 8px 24px rgba(0, 0, 0, 0.25);
}

.btn-menu {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;

}

.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary) ;
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(20px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-muted);
}
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: var(--color-white);
    transition: all 0.2s;
}

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}

.slider.round {
    box-shadow: var(--shadow-brand-btn);
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--color-heading);
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#signin {
    display: none;
   
}

header .container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-muted);

    .container {
        display: flex;
        justify-content: center;
        gap: .5rem;
        align-items: center;
    }

    .credit {
        display: none;
    }    
}

#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }
}

.brand-box {
    border: 1px solid var(--color-divider);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width >= 768px) {
    .container {
        max-width: 720px;   
    }

    .btn-toggle-switch .label {
        display: block;
        color: #565973;
    }

    .slider.round {
        box-shadow:none;
    }

    header .container {
        gap: 3rem;
    }

    footer {
        .credit {
            display: block;
        }
    }

    #brands {
        display: block;
    }

    #brand-5, #brand-6 {
        display: none;
    }

}

@media (width >= 1400px) {
    .container {
        max-width: 1320px;
    }

    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;  
    }

    .navbar {
        display: block;
    }

    .btn-menu {
        display: none;
    }

    #signin {
        display: block;
    }

    #brand-5, #brand-6 {
        display: flex;
    }

}

#hero {
    
    background: var(--color-gradient);
    padding-bottom: 2rem;
    overflow: hidden;

    @media (width >= 768px) {
        padding: 0;
    }

    .container {
        position: relative;
        /* overflow: hidden; */
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr;
        grid-template-areas: "headline" "content";

        @media (width >= 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "headline headline" 
                                  "content images"
        }

        @media (width >= 1400px) {
            grid-template-columns: 1fr 1fr ;
            grid-template-areas: "headline images" 
                                  "content images"
        }
    }

    .headline {
        grid-area: headline;
        text-align: center;

        h1 {
            color: var(--color-heading);
            font-size: 34.1px;
            font-weight: 800;
            margin-top: 2rem;    
        }

        @media (width >= 768px) {
            h1 {
                font-size: 44.3px;
            }
        }
        @media (width >= 1400px) {
            h1 {
                font-size: 56px;
                text-align: left;
            }
        }
    }

    .content {
        grid-area: content;
        text-align: center;

        @media (width >= 768px) {
            text-align: left;
        }

        p {
            color: var(--color-body);
            font-size: 18px;
            margin-bottom: 3rem;

        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (width >= 1400px) {
                flex-direction: row;
            }



        }
        .discover-more {
            display: flex;
            gap: 1rem;
            align-items: center;
            font-size: 14px;
            text-decoration: none;
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 2rem;

            @media (width >= 768px) {
                justify-content: flex-start;
            }

            @media (width >= 1400px) {
                justify-content: flex-start;
                margin-top: 10rem;
            }

        }      
    }

    .images {
        position: relative;
        grid-area: images;
        display: none;

        @media (width >= 768px) {
            display: block;
        }

        .img-back {
            position: absolute;
            z-index: -10;
            bottom: 0;
            right: 130px;
            width: 60%;
            height: 82%;

            @media (width >= 1400px) {
                width: 49%;
                bottom: -42px;
                right: 175px;
            }
            
        }
        .img-front {
            position: absolute;
            z-index:-5;
            bottom: 0;
            right: 0;
            width: 65%;

            @media (width >= 1400px) {
                width: 50%;
                
            }

        }   
    }
}


